/*header code*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.flexmain {
  width: 100%;
  margin: 0 auto;

}

.header {
  display: flex;
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
  justify-content: space-between;
}
.header a {
  color: darkslategrey;
  text-decoration: none;
}

.header .logoname {
  height: 32px;
  color: darkslategrey;
}
.header nav span{
padding: 0px 8px;
color: darkslategrey;
}

/*banner code*/
.banner {
  display: flex;
  background-color: lightgrey;
  align-items: center;
  justify-content: flex-start;
}

.banner img{
  width: 60%;
  height: 50%;
  margin: 32px 24px;

}
.banner .content {
  display: block;
  align-items: center;
  width: 30%;
}
.banner span {
  display: block;
}
.banner .button {
  display: flex;
  background-color: darkslategray;
  color: white;
  padding: 8px 0px;
  justify-content: center;
  width: 50%;
}





/*Info code*/
.information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.practicing {
  display: inline-block;
  width: 60%;
  background-color: pink;
  align-content: flex-start;



}
.practicing img {
  width: 80%;
  height: auto;
  margin-left: 24px;

}


/*Info side code*/
.infoside {
display: flex;
flex-direction: column;
width: 40%;
padding: 0px 32px;
margin-top: 32px;
}

.contentdiv {
  display:block;
  padding-left: 16px;
  align-content: center;
  width: 65%;
  padding-top: 32px;


}
.contentdiv .title {
  color: charcoal;
}
.contentdiv p {
  width: 90%;
  font-size: .90rem;
}

.contentdiv .content{

}
.contentdiv a {
  text-decoration: none;
  color: darkslategrey;
  font-size: .90rem;
  font-weight: bold;
}

.infoside img {
width: 35%;
height: 35%;
display: inline-block;
margin: 16px 16px;
}

.infoside .title {
  font-weight: bold;
}
.campus, .orientation, .guest {
  display: flex;
  margin: 16px;
  background-color: pink;
}


.infoside .mobile {
  display: none;
}
.content {
  display: block;
  width: 40%;
}

/*Learning code*/
.learning {
  background-color: lightgrey;
  width: 100%;
}
.learning h1 {
  display: block;
  justify-content: center;

}
.learning-block {
  display: inline-block;
  flex-wrap: wrap;
  background-color: white;
}
.learning-block img {

}

/*thesis code*/
.thesis {
  display: flex;
  width: 100%;
}
.thesis h1 {
  display: block;
}

.video-section {
  width: 50%;
  height: auto;
}

/*footer code*/


@media only screen and (max-width: 768px){

}
