/*header code*/

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.flexmain {
  width: 100%;
  margin: 0 auto;

}

.header {
  display: flex;
  height: 64px;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
  justify-content: space-between;
}
.header a {
  color: darkslategrey;
  text-decoration: none;
}

.logoname {
  display: flex;
  height: 32px;
  color: darkslategrey;
  align-items: center;
}
.header nav span{
padding: 0px 8px;
color: darkslategrey;
}

/*banner code*/
.banner {
  display: flex;
  background-color: lightgrey;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgrey;
}

.banner .image{
  display: flex;
  width: 60%;
  height: 100%;
  margin: 32px 0px 32px 24px;
}

.banner img {
  width: 95%;
  height: 60%;
}
.banner .content {
  display: block;
  align-items: center;
  width: 35%;
  justify-content: center;
}
.banner .content h1 {
  font-weight: bold;
  font-size: 2.5rem;
}
.banner span {
  display: block;
  padding-bottom: 12px;
  font-size: 1.5rem;
  color: #343232;
}
.banner .button {
  display: flex;
  background-color: #4F4D4D;
  color: white;
  padding: 8px 0px;
  justify-content: center;
  width: 70%;
  margin-top: 16px;
  margin-left: 50px;
  border-radius: 10px;


}


/*Info code*/
.information {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 32px 0px;
}
.practicing {
  display: inline-block;
  width: 60%;
  height: 100%;
  margin-left: 24px;


}
.practicing img {
  width: 100%;
  height: auto;
  }


/*Info side code*/
.infoside {
display: flex;
flex-direction: column;
width: 40%;
height: 100%;
padding: 0px 0px 0px 24px;

}

.contentdiv {
  display:block;
  padding-left: 16px;
  align-content: center;
  width: 65%;
  padding-top: 16px;


}
.contentdiv .title {

}
.contentdiv p {
  width: 100%;
  font-size: .90rem;
  padding: 8px 0px;
}

.contentdiv .content{

}
.contentdiv a {
  text-decoration: none;
  color: darkslategrey;
  font-size: .90rem;
  font-weight: bold;
}

.img {
width: 35%;
display: inline-block;
margin: 0px 0px;
padding-left: 16px;
}
.img img {
  width: 100%;
  height: auto;
}
.author {
  font-size: .85rem;
}

.infoside .title {
  font-weight: bold;
}
.campus, .orientation, .guest {
  display: flex;
  margin: 0px;

  padding: 16px 0px 16px 0px;


}

.infoside .mobile {
  display: none;
}
.content {
  display: block;
  width: 40%;
}

/*Learning code*/
.learning {
  display: block;
  background-color: lightgrey;
  flex-wrap: wrap;
  width: 100%;

}
.learning-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 72px;
  justify-content: center;
}
.heading {
  justify-content: center;
  padding: 32px 0px;
  text-align: center;
  background-color: orange;

}
.learning-block {
  width: 28%;
  display: inline-block;
  flex-wrap: wrap;
  margin: 32px 16px;
  background-color: white;

}
.learning-block span {
  margin-top: 16px;
}
.lbimg img{
  width: 100%;
  height: auto;

}
.lbcontent span {
  font-weight: bold;
}
.lbcontent p {
  font-size: .90rem;
  width: 90%;
}
.lbcontent{
  display: block;
  padding: 16px 0px 24px 16px;
  width: 100%;

}

/*thesis code*/
.thesis {
  display: flex;
  width: 100%;
}
.thesis-title{
  display: block;
  background-color: pink;
  width: 100%;
}

.video-section {
  display: inline-block;
  width: 60%;
  height: auto;
  background-color: purple;
}
.vid {
  width: 100%;
  object-fit: fill;
}

/*footer code*/


@media only screen and (max-width: 768px){

}
